body {
    background-color: red;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.userControl {
    flex: 1;
    background-color: rgb(107, 107, 107);
    padding: 5px;
}


.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: blue;
    padding: 10px;
    align-content: stretch;
    flex: 55;
}
/*https://www.w3schools.com/css/css3_flexbox_container.asp*/

.eachRow {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.eachSquare {
    flex: 1;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: aquamarine;
}


.squareAfterHover {
    filter: brightness(1);
}
